    <div class="row">
        <div class="col-md-6">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-smile-o fa-fw"></i> | Nome </span>
                <input class="form-control" required type="text" name="nNome" id="iNome" maxlength="30" placeholder="Nome completo">
            </div><br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-shield fa-fw"></i> | Fazenda </span>
                <input class="form-control" required type="text" name="nFazenda" id="iFazenda" maxlength="30" placeholder="Nome da fazenda">
            </div><br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-home fa-fw"></i> | Logradouro </span>
                <input class="form-control" required type="text" name="nLogradouro" id="iLogradouro" maxlength="40" placeholder="Rua, Av., nº da residência...">
            </div><br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-street-view fa-fw"></i> | Bairro </span>
                <input class="form-control" required type="text" name="nBairro" id="iBairro" maxlength="40" placeholder="">
            </div><br />
        </div>
        <div class="col-md-6">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-map-signs fa-fw"></i> | Área</span>
                <select class="form-control" required name = "nArea" size =1>
                    <option selected="" value=""> Selecione uma área:</option>
                    <option value="Urbana">Urbana</option>
                    <option value="Rural">Rural</option>
                </select>
            </div><br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-map-marker fa-fw"></i> | Cidade </span>
                <input class="form-control" required type="text" name="nCidade" id="iCidade" maxlength="40" placeholder="">
            </div><br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-phone fa-fw"></i> | Telefone </span>
                <input class="cTelefone form-control" required type="text" name="nTelefone" maxlength="20" placeholder="(99) 9999-9999">
            </div><br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa-green fa fa-phone-square fa-fw"></i> | Celular </span>
                <input class="cCelular form-control" required type="text" name="nCelular" maxlength="20" placeholder="(99) 9 9999-9999">
            </div><br />
        </div>
    </div>
    <div class="row text-center">
        <button class="btn btn-success" type="submit" name="nLogar">Enviar</button>
    </div><br><br>